@font-face {
	font-family: "JuliaMono";
	src: url("/fonts/JuliaMono.woff2") format("woff2");
	font-display: swap;
	}

*,
:after,
:before {
	box-sizing: border-box;
	background-color: inherit;
	color: inherit;
	margin: 0;
	padding: 0;
  scrollbar-color: var(--scrollbar-color) var(--scrollbar-bg-color);
  @media(max-width: 860px) {
  /* Hide scrollbar for Chrome, Safari and Opera */
  -webkit-scrollbar {
  display: none;
  }
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
}

html {
	font-size: 15px;
}

html,
html[data-theme="dark"] {
    --text-font:  JuliaMono;
	--source-code-font: JuliaMono;
	--very-light-text-color: #bdbdbd;
	--light-text-color: #6e9c9c;
	--medium-text-color: #eba0ac;
	--main-text-color: #f5e0dc;
	--highlight-text-color: #6e9c9c;
	--dark-text-color: rgb(36, 38, 42);
	--link-color: #dd9999; 
	--code-bg-color: rgb(36, 38, 42);
	background-color: #1e1e20;
  --scrollbar-color: #dd9999;
  --scrollbar-bg-color: #333;
}

body {
	font-family: var(--text-font), monospace;
	text-rendering: optimizeLegibility;
	line-height: 1.75;
	color: var(--main-text-color);
}

a {
	color: var(--link-color);
	text-decoration: none;
}

.post p {
	margin: 1rem 0;
}

.meta {
	margin: 1.4rem 0;

}

code,
pre {
	background: var(--code-bg-color);
	margin: 0 -27px;
	border-width: 1px;
}

code {
	font-family: var(--source-code-font), monospace;
	margin: unset;
	padding: 0.1rem;
	color: var(--highlight-text-color);
}

pre code {
	background-color: unset;
	color: unset;
}

pre {
	border-width: 3px;
	padding: 0.8rem;
	white-space: pre-wrap;
	border-style: none none none solid;
	border-color: var(--light-text-color);
}

img {
	max-width: 100%;
}

hr {
	background: var(--light-text-color);
	height: 1px;
	border: 0;
}

header {
	flex-basis: 10rem;
	flex-grow: 1;
	position: relative;
}

header a {
	text-decoration: none;
}

header li {
	margin-bottom: 0.2rem;
	text-align: right;
	margin-right: 2rem;
}

header a.active {
	font-weight: bold;
}

header,
section {
	padding: 1rem 0;
}

.imgs {
  padding: 2rem 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

blockquote {
	font-style: italic;
	border-left: 5px solid var(--dark-text-color);
	padding-left: 1rem;
}

h1 {
	color: var(--main-text-color);
	text-transform: uppercase;
	font-size: 2rem;
	font-weight: bold;
	margin-bottom: 1.5rem;
    margin-top: 138px;
}

h2,
h3,
h4,
h5 {
	font-weight: bold;
	margin-bottom: 1.5rem;
	font-size: 2rem;
}

h2 {
	font-size: 1.8rem;
}

h3 {
	font-size: 1.6rem;
}

h4 {
	font-size: 1.4rem;
}

h5 {
	font-size: 1.2rem;
}

h6 {
	font-size: 1rem;
}

section h1:first-child {
	margin-top: 0;
}

strong,
b {
	font-weight: bold;
}

.photos ul {
	list-style: none;
}

.photos li {
	margin-bottom: 1.5rem;
}

.photo picture,
.project picture {
	margin-bottom: 0.5rem;
}

.posts > h3 {
	font-weight: 500;
}

.post ul {
	margin: 0px;
	margin: 0px 0px 10px 10px;
}

.post ol {
	margin: 0px;
	margin: 0px 0px 10px 15px;
}

.posts li {
	align-items: center;
	display: flex;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}

.posts li a,
.posts li div,
.projects li a {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-weight: bold;
}

.posts li time,
.projects li time {
	padding-left: 1rem;
	white-space: nowrap;
	font-variant-numeric: tabular-nums;
}

time {
	color: var(--main-text-color);
}

.post > h1.title {
	font-size: x-large;
	margin-top: 0;
	margin-bottom: 0;
}

.post > time {
	margin-bottom: 0;
	margin-top: 3rem;
}

.highlight {
	margin: 0px;
}

main {
	max-width: 47rem;
	margin: -5rem auto 0;
	padding: 2.4rem 2rem;
	flex-direction: column;
  margin-top: 0.5rem;
}


.gen {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.Ashley {
  padding: 1rem;
  display: flex;
  justify-content: center;
  position: initial;

  .Ashley-icons {
     
    .fa {
      font-size: 1.3rem;
      color: #a9a9a9;

      &:hover {
        color: darken(#a9a9a9, 25%);
        transition: color 0.3s ease-in;
      }
    }
  }
}

@media screen and (max-width: 45rem) {
	header li {
		display: inline;
		margin-right: 1rem;
	}
	.logo {
		padding-bottom: 1rem;
	}
	header ul {
		border-bottom: 1px solid #edf2f7;
		padding-bottom: 2rem;
	}
	nav ul {
		border-right: 0px;
	}

	.photos ul {
		margin-top: 0.5rem;
	}

	main {
		padding: 0 2rem;
	}

}

figcaption {
	font-size: smaller;
}

::selection {
background-color: #fff;
color: #333;
}

.post-nav {
  display: flex;
  position: relative;
  margin-top: 0;
  border-top: 2px solid var(--link-color);
  line-height: 1.4;

  .post-nav-item {
    border-bottom: 0;
    padding-bottom: 10px;

    .post-title {
      color: var(--main-text-color);
    }

    &:hover,
    &:focus {
      .post-title {
        color: var(--link-color);
        opacity: 0.9;
      }
    }

    .nav-arrow {
      font-size: 17px;
      color: var(--main-text-color);
      margin-bottom: 3px;
	  font-weight: bold;
    }

    width: 50%;
    padding-top: 10px;
    text-decoration: none;
    box-sizing: border-box;

    &:nth-child(odd) {
      padding-left: 0;
      padding-right: 20px;
    }

    &:nth-child(even) {
      text-align: right;
      padding-right: 0;
      padding-left: 20px;
    }
  }
} 	


.tags ul {
	list-style: none;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
	grid-template-rows:auto auto auto auto;

}


.tags li {
	white-space: normal;
	text-overflow: ellipsis;
	}


  // ------------------------------------
$link-color: var(--link-color);


.timeline {
  position: center;
  width: 650px;
  margin: -6em auto;
  padding: 1px;
  list-style-type: none;
  @media(max-width: 860px) {
    width: 100%;
  }
  &:before {
    position: absolute;
    left: 50%;
    top: 0;
    content: ' ';
    display: block;
    width: 6px;
    height: 100%;
    margin-left: -3px;
    background: var(--light-text-color);
    z-index: 5;
    @media(max-width: 375px) {
      height: 150%;
    }
  }
  li {
    padding: 2em 0;
    @media(max-width: 860px) {
      padding: 2em 0;
    }
    &::after {
      content: "";
      display: block;
      height: 150%;
      clear: both;
      visibility: hidden;
    }
  }
}


.direction-l {
  position: relative;
  width: 287px;
  float: left;
  text-align: right;
  @media(max-width: 860px) {
    float: none;
    width: 100%;
    text-align: center;
  }
  .flag {
    color: #333;
    box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.52); // $color shadow
    &:after {
      content: "";
      position: absolute;
      left: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-left-color: rgb(248,248,248);
      border-width: 8px;
      pointer-events: none;
      @media(max-width: 860px) {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
      }
    }
  }
  .time-wrapper {
    float: left;
    @media(max-width: 860px) {
      float: none;
    }
  }
}


.direction-r {
  position: relative;
  width: 293px;
  float: right;
  text-align: left;
  @media(max-width: 860px) {
    float: none;
    width: 100%;
    text-align: center;
  }
  .flag {
    color: #333;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.52); // $color shadow
    &:after {
      content: "";
      position: absolute;
      right: 100%;
      top: 50%;
      height: 0;
      width: 0;
      margin-top: -8px;
      border: solid transparent;
      border-right-color: rgb(248,248,248);
      border-width: 8px;
      pointer-events: none;
      @media(max-width: 860px) {
        content: "";
        position: absolute;
        left: 50%;
        top: -8px;
        height: 0;
        width: 0;
        margin-left: -8px;
        border: solid transparent;
        border-bottom-color: rgb(255,255,255);
        border-width: 8px;
        pointer-events: none;
      }
    }
    &:before {
      left: -40px;
    }
  }
  .time-wrapper {
    float: right;
    @media(max-width: 860px) {
      float: none;
    }
  }
}

.flag-wrapper {
  position: relative;
  display: inline-block;
  text-align: center;
  @media(max-width: 860px) {
    text-align: center;
  }
  .flag {
    position: relative;
    display: inline;
    background: rgb(248,248,248);
    padding: 6px 10px;
    border-radius: 5px;
    font-weight: 600;
    text-align: left;
    @media(max-width: 860px) {
      background: rgb(255,255,255);
      z-index: 15;
    }
  }
}

.direction-l .flag:before,
.direction-r .flag:before {
  position: absolute;
  top: 60%;
  right: -40px;
  content: ' ';
  display: block;
  width: 12px;
  height: 12px;
  margin-top: -10px;
  background: #fff;
  border-radius: 10px;
  border: 4px solid $link-color;
  z-index: 10;
  @media(max-width: 860px) {
    position: absolute;
    top: -30px;
    left: 53%;
    content: ' ';
    display: block;
    margin-left: -10px;
  }
}



.time-wrapper {
  display: inline;
  line-height: 1em;
  font-size: 0.66666em;
  color: $link-color;
  vertical-align: middle;
  @media(max-width: 860px) {
    display: block;
    position: relative;
    margin: 4px 0 0 0;
    z-index: 14;
  }
  .time {
    display: inline-block;
    padding: 4px 6px;
    background: rgb(248,248,248);
  }
}

.desc {
  margin: 1em 0.2em -3.5em 0;
  font-size: 0.9em;
  line-height: 1.5em;
  a {
    color: $link-color;
    text-decoration: all;
  }
  @media(max-width: 860px) {
    position: relative;
    margin: 1em 1em 0 1em;
    padding: 1em;
    background: var(--code-bg-color);
    box-shadow: 0 0 1px rgba(0,0,0,0.20);
    z-index: 15;
    
  }
}

div.p0 {
	text-align: center;
}

.Bingus {
	margin-left: 26%;
	margin-right: 30%;
	padding-top: 3rem;
	line-height: 4rem;
	@media(max-width: 860px) {
    padding-top: 3rem;
    margin: 0px 0px 0px 30px;
    line-height: 2rem;
	}
}

.trolling {
	padding: 2.5%;
	color: var(--link-color);
	font-size: 18px;
	font-weight: bold;
	border: 2px solid var(--link-color);
	border-radius: 10px;
	text-align: left;
	display: grid;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a:hover {
	text-decoration:underline;
}
 
.anastasia {
	letter-spacing: 1px !important;
    line-height: 1.7 !important;
    min-height: 1em !important;
    box-sizing: border-box !important;
    word-wrap: break-word !important;
    margin: 20px 0 !important;
}

.daniella {
  display: inline-block;
  -webkit-animation: blink 1s step-end infinite;
  animation: blink 1s step-end infinite;
  background: transparent;
  font-size: 17px;
  margin-left: 78px;
  margin-top: -29px;
  -moz-transition:all 0.7s ease-in-out;
  -webkit-transition:all 0.7s ease-in-out;
  -o-transition:all 0.7s ease-in-out;
  -ms-transition:all 0.7s ease-in-out;
  transition:all 0.7s ease-in-out; 
  -moz-animation:blink normal 1.7s infinite ease-in-out; /* Firefox */
  -webkit-animation:blink normal 1.7s infinite ease-in-out; /* Webkit */
  -ms-animation:blink normal 1.7s infinite ease-in-out; /* IE */
  animation:blink normal 1.7s infinite ease-in-out; /* Opera */
  color: var(--link-color);
}

@-webkit-keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

.furry {
	margin-left: 100px;
}

.alittle {
	margin-left: 96px;
}

li {
	margin-left: 30px;
}
.noplus {
  margin-left: 70px;
}
.plusone {
	margin-left: 106px;
}

span:hover {
  text-decoration:underline;
}

.license {
	margin-left: 106px;
}

header, nav, footer {
   text-align: center;
}

nav {
    @media(max-width: 860px) {
        margin: 0px 20px 20px 20px;
        line-height: 2rem;
    }
}

.ascii-art {
    font-family: monospace;
    white-space: pre;
    text-align: center;
    font-size: 9px;
    @media(max-width: 860px) {
        font-size: 9px;
        margin-right: 15px;
    }
}

article {
    margin-top: 5.5rem;
}

.badges {
    margin-bottom: 1em;
}

.poggers {
  align-items: center;
  display: flex;
  justify-content:space-between;
  margin-bottom: .5rem;
}

header, section {
  padding: 0rem 0;
}

p {
  margin-left: 15px;
  margin-bottom: 0.2rem;
  font-size: 17px;
}

footer {
  margin-top: 17px;
}
