{% macro header() %}
<header>
<div class="ascii-art" aria-hidden="true" aria-label="oomfie">

    /$$$$$$  /$$$$$$ /$$      /$$/$$$$$$$$/$$$$$$/$$$$$$$$
    /$$__  $$/$$__  $| $$$    /$$| $$_____|_  $$_| $$_____/
   | $$  \ $| $$  \ $| $$$$  /$$$| $$       | $$ | $$      
   | $$  | $| $$  | $| $$ $$/$$ $| $$$$$    | $$ | $$$$$   
   | $$  | $| $$  | $| $$  $$$| $| $$__/    | $$ | $$__/   
   | $$  | $| $$  | $| $$\  $ | $| $$       | $$ | $$      
   |  $$$$$$|  $$$$$$| $$ \/  | $| $$      /$$$$$| $$$$$$$$
    \______/ \______/|__/     |__|__/     |______|________/

</div>
</header>
{% endmacro %}
