{% macro stylesheet() %}
<link rel="stylesheet" href="/main.css">
{% endmacro %}

{% macro favicons() %}
  <link rel="apple-touch-icon" sizes="180x180" href="{{ get_url(path="/media/apple-touch-icon.png") | safe }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ get_url(path="/media/favicon-32x32.png") | safe }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ get_url(path="/media/favicon-16x16.png" )| safe }}">
{% endmacro %}


{# type:          website or article, generally setting article for blog articles #}
{# page_images:   using for the blog single template page #}
{# page_section:  the blog single template page have to pass the parameter #}
{# is_404:        using for the 404.html template #}
{% macro seo(
  title="",
  title_addition="",
  description="",
  type="website",
  is_home=false,
  is_404=false,
  is_page=false,
  page_images="",
  page_section="",
  created_time="2021-05-01T08:08:00+08:00",
  updated_time="2021-05-01T08:08:08+08:00"
  )
%}

{% if is_404 %}
  <meta name="robots" content="noindex, follow">
{% else %}
  <meta name="robots" content="index, follow">
  <meta name="googlebot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <meta name="bingbot" content="index, follow, max-snippet:-1, max-image-preview:large, max-video-preview:-1">
{% endif %}
{% if current_url %}
	{% set page_url = current_url %}
{% else %}
	{% set page_url = get_url(path="404.html") %}
{% endif %}
{% if current_path %}
	{% set page_path = current_path %}
{% else %}
	{% set page_path = "/404.html" %}
{% endif %}
<meta property="og:site_name" content="{{ config.title }}">
<title>{{ title ~ title_addition }}</title>
<meta name="description" content="{{ description }}">
<link rel="canonical" href="{{ page_url | safe }}">

{% if config.extra.open.enable %}
  <meta name="twitter:card" content="summary_large_image">
  {% if page.extra.images %}
    {% for image in page.extra.images %}
      <meta property="twitter:image" content="{{ get_url(path=image) | safe }}">
    {% endfor %}
  {% elif section.extra.images %}
    {% for image in section.extra.images %}
      <meta property="twitter:image" content="{{ get_url(path=image) | safe }}">
    {% endfor %}
  {% elif config.extra.open.image %}
    <meta name="twitter:image" content="{{ config.base_url | safe }}/{{ config.extra.open.image }}">
  {% endif %}
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">

  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:type" content="{{ type }}">
  <meta property="og:url" content="{{ page_url | safe }}">

  {% if page.extra.images %}
  {% for image in page.extra.images %}
    <meta property="og:image" content="{{ get_url(path=image) | safe }}">
  {% endfor %}
{% elif section.extra.images %}
  {% for image in section.extra.images %}
    <meta property="og:image" content="{{ get_url(path=image) | safe }}">
  {% endfor %}
{% elif config.extra.open.image %}
  <meta property="og:image" content="{{ config.base_url | safe }}/{{ config.extra.open.image }}">
{% endif %}
{% endif %}
{% endmacro %}