
{% extends "base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = "143" %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition) }}
{% endblock seo %}

{% block content %}

<section class="post">
  </section>


<section>
    <!-- Item 2 -->
    <div class= "imgs">
      <img src="/media/heart.svg" style="width:200px;height:200px;">
    </div>
    <div>
        i love you <3
    </div>
</section>

{% endblock content %}