
{% extends "404base.html" %}

{% block seo %}
  {{ super() }}
  {% set title = "404 Page not found" %}
  
  {% if config.title %}
    {% set title_addition = title_separator ~ config.title %}
  {% else %}
    {% set title_addition = "" %}
  {% endif %}
  
  {% if page.description %}
    {% set description = page.description %}
  {% else %}
    {% set description = config.description %}
  {% endif %}
{{ macros_head::seo(title=title, title_addition=title_addition, description=description, is_404=true) }}
{% endblock seo %}

{% block content %}
<section>
<p>
	It looks like that page doesn't exist, check the URL and try again.
If you think this is an error, please <a href="https://codeberg.org/oomfie/site/issues/new" target="_blank" rel="noopener noreferrer">submit a skill issue.</a>
</p>
<div class= "imgs">
	<img src="/media/404.gif" style="width:300px;height:300px;">
  </div>
</section>
{% endblock content %}
