{%- import 'macros/head.html' as macros_head -%}
{%- import 'macros/footer.html' as macros_footer -%} 
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta https-equiv="Content-Security-Policy" content="default-src 'self' localhost:* ws://localhost:*; https://codeberg.org;">
  <meta https-equiv="Set-Cookie" content="flavor=choco; SameSite=None; Secure" />
  {{ macros_head::favicons() }}
  {{ macros_head::stylesheet() }}
  
  {% block seo %}
    {% if config.extra.title_separator %}
      {% set title_separator = " " ~ config.extra.title_separator ~ " " %}
    {% else %}
      {% set title_separator = " / " %}
    {% endif %}
  {% endblock seo %}
</head>
<body>
  <main>
       {% block content %} {% endblock %}

      {{ macros_footer::footer() }}
  </main>
</body>
</html>